@import "partials/fonts";
@import "partials/variables";
@import "partials/mixins";
@import "partials/properties";
@import "partials/defaults";
#app, #room-container, #rm-content{ height:100%; }
#main-container{
  @extend %vertical;
  @extend %justify-content-center;
}
#logo-holder{
  @extend %vertical;
  @extend %align-content-center;
  @extend %justify-content-center;
  margin-top:12.5%;
  margin-bottom:25px;
  img{
    @extend %align-self-center;
    width:250px;
    height:auto;
  }
  p{
    @extend %align-self-center;
    font-size:14px;
    color:#fff;
    line-height:0.5em;
  }
}
#btn-holder{
  @extend %vertical;
  @extend %align-content-center;
  #bt-google-signin, #bt-facebook-signin{
    @extend %horizontal;
    @extend %justify-content-center;
    @extend %align-self-center;
    @extend %btn-template;
    width:$hm-btn-w;
    margin:10px;
    background:#fff;
  }
  #bt-google-signin i, #bt-google-signin p{ color:$google-red; }
  #bt-facebook-signin i, #bt-facebook-signin p{ color: lighten($lt-gray,100); }
  #room-id-holder{
    margin-top:10px;
    @extend %align-self-center;
    width:$hm-btn-w;
  }
  #bt-facebook-signin{
    @extend %btn-template;
    background:$facebook-blue;
  }
  #room-id-holder #room-id{ @extend %input-ov-outline; }
  p{
    @extend %align-self-center;
    color:#fff;
    font-weight:600;
  }
}
#rm-content{
  @extend %horizontal;
  #left-panel{
    @extend %vertical;
    padding: 10px;
  }
  #left-panel article{
    width: $video-dimens;
    background: $dkgray;
    color: #fff;
  }
  #left-panel article video{ width: $video-dimens; }
  #left-panel article .screen-blocked{
    padding:25px;
    font-size:12px;
  }
  #local-vid{
    background:none;
    height:175px;
  }
  #right-panel{
    width: 100%;
    background: $lt-gray;
  }
}
